html{
  background: url("../img/bg.jpg")
}

.post{
  background: rgba(255, 255, 255, 0.5);
}

textarea{
  background: rgba(255, 255, 255, 0.5);
}

input{
  background: rgba(255, 255, 255, 0.5);
}

button{
  margin:5px;
}
